<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="/assets/css/ink.min.css" type="text/css" /> <!-- inks css file -->
    <link rel="stylesheet" href="/assets/css/ink-flex.min.css" type="text/css" /> <!-- inks css file -->
    <script src="/assets/js/utils.js"></script>
    <title>Burgers</title>
</head>
<body>
<nav class="ink-navigation">
    <ul class="menu horizontal black">
        <li class="heading"><a href="#">Eat What You Make</a></li>
    </ul>
</nav>
{{{ body }}}
</body>
</html>
